/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 feb 2023, 21:40:38
    Author     : jsoler
*/


#loginStackpane {
    -fx-background-image: url("./imagenes/fondo-inicio.jpg");
    -fx-background-size: 100% 100%; /* Adjust the values as per your requirement */
    -fx-background-repeat: no-repeat;
}

#loginHBOX {
    -fx-background-color: transparent
}

#loginVBOX {
    -fx-background-color: papayawhip
}

.button {
    -fx-background-color: linear-gradient(seagreen, rgb(28, 101, 60));    -fx-text-fill: white;
    -fx-text-bold: true;
    -fx-font-family: Helvetica;
    
    /*Make edges rounder but not round*/
    -fx-background-radius: 15 15 15 15;
}
.button:hover {
    -fx-background-color: linear-gradient(seagreen, rgb(28, 101, 60));
    -fx-cursor: hand;
    -fx-translate-y: -1px;
   
}
.button:pressed{
    -fx-background-color:  linear-gradient(rgb(28, 101, 60), seagreen);
    -fx-translate-y: 1px;
}

#backButton {
    -fx-background-color: orange;
    -fx-background-radius: 100%;
}

#cajita {
    
}


