/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 feb 2023, 21:40:38
    Author     : jsoler
*/


.mainContainer {
    -fx-background-image: url("./imagenes/fondo-inicio.jpg");
    -fx-background-size: 100% 100%; /* Adjust the values as per your requirement */
    -fx-background-repeat: no-repeat;
}

#inicioHBOX {
    -fx-background-color: transparent
}

#inicioVBOX {
    -fx-background-color: papayawhip
}

.button {
    -fx-background-color: seagreen;    -fx-text-fill: white;
    -fx-text-bold: true;
    -fx-font-family: Helvetica;
    
    /*Make edges rounder but not round*/
    -fx-background-radius: 5 5 5 5;
}

.back-button {
    -fx-border-width: 3;
}
.button:hover, .button:focused {
    -fx-background-color: rgb(28, 101, 60);
    -fx-cursor: hand;
   
}
.button:pressed{
    -fx-translate-y: 1px;
}


#backButton {
    
    -fx-background-radius: 100%;
}

#cajita {
    
}


.vBoxPrincipal {
    -fx-background-color: papayawhip;
    -fx-background-radius: 15 15 15 15
}

.tool-bar {
    -fx-background-color: papayawhip
}


