/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 feb 2023, 21:40:38
    Author     : jsoler
*/


.mainContainer {
    -fx-background-image: url("./imagenes/georgia-g7b5d50963_1920.jpg");
    -fx-background-size: 100% 100%; /* Adjust the values as per your requirement */
    -fx-background-repeat: no-repeat;
}

#inicioHBOX {
    -fx-background-color: transparent
}

#inicioVBOX {
    -fx-background-color: papayawhip
}

.button {
    -fx-background-color: seagreen;    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: Helvetica;
       

    -fx-background-radius: 5 5 5 5;
}

.myAlert:header .header-panel {
    -fx-background-color: seagreen;
}

.myAlert:header .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bold
}

.myAlert {
    -fx-background-color: papayawhip
}
.back-button {
    -fx-border-width: 3;
}
.button:hover, .button:focused {
    -fx-background-color: rgb(28, 101, 60);
    -fx-cursor: hand;
   
}
.button:pressed{
    -fx-translate-y: 1px;
}

#invisibleButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#invisibleButton:hover, #invisibleButton:focused {
    -fx-background-color: rgb(184, 184, 184);
}

#backButton {
    
    -fx-background-radius: 100%;
}

#cajita {
    
}


.vBoxPrincipal {
    -fx-background-color: papayawhip;
    -fx-background-radius: 15 15 15 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.6, 0.0, 0.0);

}

.vBoxPrincipal > .label {
    -fx-text-fill: seagreen;
    -fx-text-effect: bold
}

.registro-label {
    -fx-font-weight: bold
}

.tool-bar {
    -fx-background-color: papayawhip;
           -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.6, 0.0, 0.0);

}

.errorTextField {
    -fx-background-color: #FCE5E0;
    -fx-border-color: red;
    -fx-border-radius: 5 5 5 5
    
}



.text-field {
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5 5 5 5; 
    -fx-border-color: seagreen;
    -fx-background-color: white;
   
     -fx-prompt-text-fill: gray;
}


.text-field > .text {
  -fx-effect: dropshadow ( two-pass-box , blue , .5, 10 , 1 , 1);
}



.table-view {
    -fx-font-size: 15.5;
    -fx-text-alignment: center;
    -fx-alignment: center
    
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: seagreen
}


#pistaTableView .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}

/* Hide the corner region between vertical and horizontal scrollbars */
#pistaTableView .scroll-bar:vertical .increment-button,
#pistaTableView .scroll-bar:vertical .decrement-button,
#pistaTableView .scroll-bar:vertical .thumb {
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-background-insets: 0;
}

/* Hide the horizontal scrollbar of the TableView */
#pistaTableView .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

/* Hide the corner region between horizontal and vertical scrollbars */
#pistaTableView .scroll-bar:horizontal .increment-button,
#pistaTableView .scroll-bar:horizontal .decrement-button,
#pistaTableView .scroll-bar:horizontal .thumb {
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-insets: 0;
}

#mainGridPane {
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: seagreen
}

.choice-box{
    -fx-background-color: white;
    -fx-border-color: seagreen;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5
}

.choice-box:hover {
    -fx-cursor: hand
        
}
.choice-box:hover > .label {
    
    -fx-underline: true;
}

#linkButton {
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-text-fill: seagreen;
}

.image-view {
    -fx-background-radius: 5 5 5 5
}

.stack-pane {
    -fx-background-color: seagreen;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}




